<form (ngSubmit)="onSubmit()">
    <label for="username">Username</label>
    <input type="text" id="username" [(ngModel)]="registrationData.username" name="username" required>
  
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="registrationData.email" name="email" required>
  
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="registrationData.password" name="password" required>
  
    <label for="role">Role</label>
    <select id="role" [(ngModel)]="registrationData.role" name="role" required>
      <option value="User">User</option>
      <option value="Admin">Admin</option>
      <option value="SuperAdmin">SuperAdmin</option>
    </select>
  
    <button type="submit">Register</button>
  </form>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <p *ngIf="successMessage">{{ successMessage }}</p>
  